.heading{
 font-size: 25px;
 width: 100%;
 margin:0;
 box-shadow: 5px 5px 5px greenyellow;   
}
.note{
    font-size: 12px;
    color:black;
}
.copyrightFooter{
    position:fixed;
    bottom: 0;
    width:100%;
    background-color: grey;
    color: whitesmoke;
    text-align: center;
    line-height: 3;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px grey;
}